body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

header {
background-color: burlywood;
color: black;
padding: 20px;
position: sticky;
justify-content: space-between;
top: 0;
z-index: 1000;
display: flex;
}

header h1 {
  margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav li a {
    color: black;
    text-decoration: none;
    transition: font-weight 0.3s;
  }

  nav li a:hover {
    font-weight: 100;
  }

  section {
    padding: 15px;
  }

  .project-card {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
    transition: border 0.3s;
  }

  .project-card:hover {
    border: 2px solid black;
  }

  .about-me-content {
    display: flex;
    align-items: center;
  }

  .about-me-content img {
    border-radius: 50%;
    margin-right: 20px;
    width:100px;
    height:100px;
  }
  
  footer {
    background-color: burlywood;
    padding: 20px;
    margin-top: 20px;
  }
